/**
//561px 374px;background-repeat: repeat;
*/
body {
    margin: 60px;
    background-image: url('/assets/itemContent2.jpg');
    color: white;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.title {
    background-color: black;
    color: #fff;
    display: inline;
    padding: 0.5rem;

    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
nav ul, footer ul {

    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.4em;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;

}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: white;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.container {


}
